<% content_for(:title, "Hey Root") %>

<p> Hello Root (7 - RWX) </p>

<div class = "demo">
   <%=link_to("Requests", information_show_requests_path ) %>
   (<%= @total %>)
   <%=link_to("Log out", "/log_out") %> 
</div> 

<% @movieinfo.each do |val| %>
    <%= link_to(val.moviename + " Movie Review", {
       "controller": "information",
       "action": "movie_info",
       "id": val.id
    }) %> <br/>

<% end %>