<p> Hello Root(777) </p>

<div class = "demo">
   <%=link_to("Log out", "/log_out") %>
</div>   

   <%= link_to("ABC MOVIE RATING INFORMATION:", {
       "controller": "information",
       "action": "movie_info",
       "id": 1
    }) %> <br/>

    <%= link_to("DEF MOVIE RATING INFORMATION:", {
       "controller": "information",
       "action": "movie_info",
       "id": 2
    }) %> <br/>

    <%= link_to("XYZ MOVIE RATING INFORMATION:", {
       "controller": "information",
       "action": "movie_info",
       "id": 3
    }) %> <br/>